<div class="nested-fields">
  <%= f.file_field :cook_image,accept: "image/*" %>
  <%= f.label :text, "手順",class: "ml-5 mb-3" %>
  <%= f.text_area :text,rows: 2,class: "introduction mx-auto" %>

  <%= link_to_remove_association "削除", f,class: "btn btn-danger" %>
</div>