<div class="step-fields">
  <%= f.file_field :image,accept: "image*/" %>
  <%= f.label :description, "調理手順1" %>
  <%= f.text_area :description,class: "custom-textarea" %>
  <%= link_to '削除', '#',"data-confirm"=>"本当に削除しますか？", class: 'remove-step btn btn-danger' %>
</div>