<div class="step-fields">
  <%= f.label :description, "調理手順" %>
  <%= f.text_area :description, class: "form-control", rows: 3 %>

  <%= link_to '削除', '#', class: 'remove-step btn btn-danger' %>
</div>