<div class="text-center">
  <h2 class="title">CookPlanへようこそ！</h2>

  <div class="about mx-auto">
    <p>楽しく料理して共有しませんか？</p>
    <p>材料の意外な使い方が見つかるかも？</p>
  </div>

  <% if @recipes.present? %>
    <ul>
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    </ul>
  <% end %>

    <%= link_to "レシピの新規作成", new_recipe_path %>

  <% else %>
    <h3>レシピはありません</h3>
  <% end %>
</div>