<div class="text-center">
  <h2 class="title">CookPlanへようこそ！</h2>

  <div class="about mx-auto">
    <p>楽しく料理して共有しませんか？</p>
    <p>材料の意外な使い方が見つかるかも？</p>
  </div>

  <%= month_calendar do |date| %>
  　<%= date.day %>
  <% end %>
</div>