<div style="background-color: #ffff99; margin-bottom: 0; padding-bottom: 0;">
  <h4 class="text-center" style="margin: 0;">自己紹介</h4>
</div>
<div class="bg-white" style="margin-top: 0; padding-top: 0;">
  <%= @user.introduction %>
</div>

<h4 class="text-center mt-3">
  最近作ったもの
</h4>