<div style="background-color: #ffff99; margin-bottom: 0; padding-bottom: 0;">
  <h4 class="text-center" style="margin: 0;">自己紹介</h4>
</div>
<div class="bg-white text-center" style="margin-top: 0; padding-top: 0;">
  <%= @user.introduction %>
</div>

<div style="background-color: #ffff99; margin-bottom: 0; padding-bottom: 0; overflow: hidden;">
  <h3 class="text-center">最近のレシピ</h3>
</div>

<table class="table">
  <% @recipes.each do |recipe| %>
    <tr style="background-color: #fffff9;">
      <td><%= image_tag recipe.get_image(100,100) %></td>
      <td style="vertical-align: middle;"><%= link_to recipe.title,recipe_path(recipe.id) %></td>
      <td style="vertical-align: middle;"><%= recipe.introduction %></td>
    </tr>
  <% end %>
</table>