@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

footer {
  background-color:#f2f2b0;
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 100px;
}

.title {
  margin-top: 20px;
  margin-bottom: 50px;
}

.submit {
  margin-top: 20px;
  margin-bottom: 50px;
}

.container-fluid {
  padding: 0px;
}

.col-md-2 {
    position: fixed;
    height: 100%; /* ウィンドウの高さに合わせる */
    top: 0;
    left: 0;
    background-color: #ebe1a9;
    z-index: 1000; /* サイドバーが他の要素の上に表示されるようにする */
    padding: 20px;
    width: 250px;
  }

  .col-md-10 {
    background-color: #f8f4e6;
    margin-left: 250px;
    width: 100%;
  }

  .custom-textarea {
  width: 100%; /* テキストエリアの幅を調整 */
  max-width: 500px; /* 必要に応じて最大幅を設定 */
  height: 50px; /* テキストエリアの高さを調整 */
  resize: vertical; /* テキストエリアの垂直リサイズを有効にする */
  margin: 0 auto;
}

.under{
    width: 70%;
    padding: 0.5em 1em;
    margin: 2em auto;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.under p {
    margin: 0;
    padding: 0;
}

.about{
    width: 70%;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
.about p {
    margin: 0;
    padding: 0;
}

.introduction {
  width: 60%;
}

.title2 {
  width: 50%;
  padding: 1.65rem 2rem;
  background-color: rgba(165, 210, 255, .4);
  background-image:
    linear-gradient(90deg, rgba(165, 210, 255, .3) 50%, transparent 50%),
    linear-gradient(rgba(165, 210, 255, .3) 50%, transparent 50%);
  background-size: 40px 40px;
}

.introduction2-container {
  text-align: center; /* 親要素に text-align を追加 */
}

.title3 {
  width: 60%;
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

.introduction2 {
  position: relative;
  background-color: white;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
}

.introduction2:before, .introduction2:after {
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.introduction2:before {
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  left: 0;
}
.introduction2:after {
  content: '';
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  right: 0;
}